<!--header start-->
<header class="header white-bg">
<div class="sidebar-toggle-box">
    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
</div>
<!--logo start-->
<a href="index.html" class="logo">Flat<span>lab</span></a>
<!--logo end-->

<div class="nav notify-row" id="top_menu">

<!--  notification start -->
<ul class="nav top-menu">

    <!-- settings start -->
<li class="dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="fa fa-tasks"></i>
    </a>
    <ul class="dropdown-menu extended tasks-bar">

        <div class="notify-arrow notify-arrow-green"></div>

        <li>
            <p class="green"></p>
        </li>

        {#<li class="external">
            <a href="{{ path('ajax/clearcache') }}" class="auto-ajax">{{ t('back', 'Очистить кэш') }}</a>
        </li>#}

    </ul>
</li>
<!-- settings end -->


<!-- notification dropdown end -->
</ul>
<!--  notification end -->

</div>

<div class="top-nav ">
    <!--search & user info start-->
    <ul class="nav pull-right top-menu">
        <li>
            <input type="text" class="form-control search" placeholder="Search">
        </li>
        <!-- user login dropdown start-->
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <img alt="" src="/backend/img/avatar1_small.jpg">
                <span class="username">{{ t('base', 'Админ') }}</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
                <div class="log-arrow-up"></div>
                <li><a href="{{ path('/frontend/index/index') }}"><i class=" fa fa-suitcase"></i>{{ t('back', 'Сайт') }}</a></li>
                <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                <li><a href="#"><i class="fa fa-bell-o"></i> Notification</a></li>
                <li><a href="{{ path('/frontend/index/logout') }}"><i class="fa fa-key"></i>{{ t('base', 'Выход') }}</a></li>
            </ul>
        </li>
        <li class="sb-toggle-right">
            <i class="fa  fa-align-right"></i>
        </li>
        <!-- user login dropdown end -->
    </ul>
    <!--search & user info end-->
</div>
</header>
<!--header end-->