<div class="gradient"></div>
<div class="header">
    <div class="title">{{ t('front', 'Расскажи всем') }}!</div>
    <div class="sub-title"><span>{{ price }}</span> ViceCoins</div>
</div>
<div class="content">

    <img src="/frontend/img/popups/popup_step_1_bg.png" alt="">
    <div class="text">
        {{ t('front', 'Поделись новостью') }}!<br/>
        {{ t('front', 'Загрузи интересное фото и напиши сообщение') }}.<br/><br/>
        {{ t('front', 'Всего {price}$', {'price': price}) }}!.
    </div>
    <span>
        {{ t('front', 'И все увидят вашу новость') }}!.
    </span>
</div>