<div class="side-menu acount-settings active" data-id=".escort-account">
    <!-- <img src="/frontend/img/side_block_icons/ac_setting_img.png" class="acount-setting-img" alt=""/> -->
    <i class="icon-profile7"></i>
    <span>{{ t('account', 'Аккаунт') }}</span>
    <span class="arrow"></span>
</div>
<div class="side-menu escort-settings" data-id=".escort-preference">
    <!-- <img src="/frontend/img/side_block_icons/escort_setting_img.png" class="escort-setting-img" alt=""/> -->
    <i class="icon-tag31"></i>
    <span>{{ t('account', 'Предпочтения') }}</span>
    <span class="arrow"></span>
</div>
<div class="side-menu credits-settings" data-id=".escort-credits">
    <i class="icon-dollar103 icon-dollar103-color"></i>
    <span>{{ t('account', 'Кредиты') }}</span>
    <span class="arrow"></span>
</div>
<div class="side-menu password-settings" data-id=".escort-password">
    <!-- <img src="/frontend/img/side_block_icons/password_setting_img.png" class="password-setting-img" alt=""/> -->
    <i class="icon-little13"></i>
    <span>{{ t('account', 'Пароль') }}</span>
    <span class="arrow"></span>
</div>
<div class="side-menu travel-settings" data-id=".escort-travels">
    <!-- <img src="/frontend/img/side_block_icons/travel_setting_img.png" class="travel-setting-img" alt=""/> -->
    <i class="icon-airplane70"></i>
    <span>{{ t('account', 'Страны') }}</span>
    <span class="arrow"></span>
</div>
<div class="side-menu non-switch pro-plans-settings auto-url" data-url="{{ path('site/proplans') }}">
    <i class="icon-shopping2 icon-shopping2-color"></i>
    <span>{{ t('account', 'Виды аккаунтов') }}</span>
    <span class="arrow"></span>
</div>
