<div class="settings-header">{{ t('account', 'Другое') }}</div>
<div class="settings-content">
    <div class="settings-holder{{ accountForm.isOn('dildos') ? ' is-on' : '' }}">
        <div class="indicator"></div>
        <span class="title">{{ t('account', 'Фаллоимитаторы') }}</span>
        <div id="dildos" class="onoff-switch{{ accountForm.isOn('dildos') ? ' is-on' : '' }}" data-id="dildos" data-state="{{ accountForm.isOn('dildos') ? 1 : 0 }}">
            <div class="slider"></div>
        </div>
    </div>
    <div class="settings-holder{{ accountForm.isOn('toying') ? ' is-on' : '' }}">
        <div class="indicator"></div>
        <span class="title">{{ t('account', 'Игрушки') }}</span>
        <div id="toying" class="onoff-switch{{ accountForm.isOn('toying') ? ' is-on' : '' }}" data-id="toying" data-state="{{ accountForm.isOn('toying') ? 1 : 0 }}">
            <div class="slider"></div>
        </div>
    </div>
    <div class="settings-holder{{ accountForm.isOn('strapon') ? ' is-on' : '' }}">
        <div class="indicator"></div>
        <span class="title">{{ t('account', 'Страпон') }}</span>
        <div id="strapon" class="onoff-switch{{ accountForm.isOn('strapon') ? ' is-on' : '' }}" data-id="strapon" data-state="{{ accountForm.isOn('strapon') ? 1 : 0 }}">
            <div class="slider"></div>
        </div>
    </div>
    <div class="settings-holder{{ accountForm.isOn('plugs') ? ' is-on' : '' }}">
        <div class="indicator"></div>
        <span class="title">{{ t('account', 'Анальная пробка') }}</span>
        <div id="plugs" class="onoff-switch{{ accountForm.isOn('plugs') ? ' is-on' : '' }}" data-id="plugs" data-state="{{ accountForm.isOn('plugs') ? 1 : 0 }}">
            <div class="slider"></div>
        </div>
    </div>
    <div class="settings-holder{{ accountForm.isOn('Gag') ? ' is-on' : '' }}">
        <div class="indicator"></div>
        <span class="title">{{ t('account', 'Кляп') }}</span>
        <div id="gag" class="onoff-switch{{ accountForm.isOn('Gag') ? ' is-on' : '' }}" data-id="Gag" data-state="{{ accountForm.isOn('Gag') ? 1 : 0 }}">
            <div class="slider"></div>
        </div>
    </div>
</div>