<div class="settings-header">{{ t('account', 'Пол') }}</div>
<div class="settings-content">
    <div class="sex-content">
        <div class="settings-holder{{ accountForm.isOn('fingering') ? ' is-on' : '' }}">
            <div class="indicator"></div>
            <span class="title">{{ t('account', 'Фингеринг') }}</span>
            <div id="fingering" class="onoff-switch{{ accountForm.isOn('fingering') ? ' is-on' : '' }}" data-id="fingering" data-state="{{ accountForm.isOn('fingering') ? 1 : 0 }}">
                <div class="slider"></div>
            </div>
        </div>
        <div class="settings-holder{{ accountForm.isOn('fisting') ? ' is-on' : '' }}">
            <div class="indicator"></div>
            <span class="title">{{ t('account', 'Фистинг') }}</span>
            <div id="fisting" class="onoff-switch{{ accountForm.isOn('fisting') ? ' is-on' : '' }}" data-id="fisting" data-state="{{ accountForm.isOn('fisting') ? 1 : 0 }}">
                <div class="slider"></div>
            </div>
        </div>
        <div class="settings-holder{{ accountForm.isOn('goldenShower') ? ' is-on' : '' }}">
            <div class="indicator"></div>
            <span class="title">{{ t('account', 'Золотой дождь') }} shower</span>
            <div id="golden-shower" class="onoff-switch{{ accountForm.isOn('goldenShower') ? ' is-on' : '' }}"data-id="goldenShower" data-state="{{ accountForm.isOn('goldenShower') ? 1 : 0 }}">
                <div class="slider"></div>
            </div>
        </div>
        <div class="settings-holder{{ accountForm.isOn('bukakee') ? ' is-on' : '' }}">
            <div class="indicator"></div>
            <span class="title">{{ t('account', 'Буккакэ') }}</span>
            <div id="bukakee" class="onoff-switch{{ accountForm.isOn('bukakee') ? ' is-on' : '' }}" data-id="bukakee" data-state="{{ accountForm.isOn('bukakee') ? 1 : 0 }}">
                <div class="slider"></div>
            </div>
        </div>
        <div class="settings-holder{{ accountForm.isOn('gothicMakeap') ? ' is-on' : '' }}">
            <div class="indicator"></div>
            <span class="title">{{ t('account', 'Готический макияж') }}</span>
            <div id="gothic-makeup" class="onoff-switch{{ accountForm.isOn('gothicMakeap') ? ' is-on' : '' }}" data-id="gothicMakeap" data-state="{{ accountForm.isOn('gothicMakeap') ? 1 : 0 }}">
                <div class="slider"></div>
            </div>
        </div>
        <div class="settings-holder{{ accountForm.isOn('crossDressing') ? ' is-on' : '' }}">
            <div class="indicator"></div>
            <span class="title">{{ t('account', 'Переодевание') }}</span>
            <div id="crossdressing" class="onoff-switch{{ accountForm.isOn('crossDressing') ? ' is-on' : '' }}" data-id="crossDressing" data-state="{{ accountForm.isOn('crossDressing') ? 1 : 0 }}">
                <div class="slider"></div>
            </div>
        </div>
        <div class="settings-holder{{ accountForm.isOn('blindfolds') ? ' is-on' : '' }}">
            <div class="indicator"></div>
            <span class="title">{{ t('account', 'Повязка на глаза') }}</span>
            <div id="blindfolds" class="onoff-switch{{ accountForm.isOn('blindfolds') ? ' is-on' : '' }}" data-id="blindfolds" data-state="{{ accountForm.isOn('blindfolds') ? 1 : 0 }}">
                <div class="slider"></div>
            </div>
        </div>
        <div class="settings-holder{{ accountForm.isOn('piercing') ? ' is-on' : '' }}">
            <div class="indicator"></div>
            <span class="title">{{ t('account', 'Пирсинг') }}</span>
            <div id="piercing" class="onoff-switch{{ accountForm.isOn('piercing') ? ' is-on' : '' }}" data-id="piercing" data-state="{{ accountForm.isOn('piercing') ? 1 : 0 }}">
                <div class="slider"></div>
            </div>
        </div>
        <div class="settings-holder{{ accountForm.isOn('tatoo') ? ' is-on' : '' }}">
            <div class="indicator"></div>
            <span class="title">{{ t('account', 'Тату') }}</span>
            <div id="tattoo" class="onoff-switch{{ accountForm.isOn('tatoo') ? ' is-on' : '' }}" data-id="tatoo" data-state="{{ accountForm.isOn('tatoo') ? 1 : 0 }}">
                <div class="slider"></div>
            </div>
        </div>
        <div class="settings-holder{{ accountForm.isOn('shaved') ? ' is-on' : '' }}">
            <div class="indicator"></div>
            <span class="title">{{ t('account', 'Бритые') }}</span>
            <div id="shaved" class="onoff-switch{{ accountForm.isOn('shaved') ? ' is-on' : '' }}" data-id="shaved" data-state="{{ accountForm.isOn('shaved') ? 1 : 0 }}">
                <div class="slider"></div>
            </div>
        </div>
        <div class="settings-holder{{ accountForm.isOn('lingerie') ? ' is-on' : '' }}">
            <div class="indicator"></div>
            <span class="title">{{ t('account', 'Белье') }}</span>
            <div id="lingerie" class="onoff-switch{{ accountForm.isOn('lingerie') ? ' is-on' : '' }}" data-id="lingerie" data-state="{{ accountForm.isOn('lingerie') ? 1 : 0 }}">
                <div class="slider"></div>
            </div>
        </div>
        <div class="settings-holder{{ accountForm.isOn('stokings') ? ' is-on' : '' }}">
            <div class="indicator"></div>
            <span class="title">{{ t('account', 'Чулки') }}</span>
            <div id="stokings" class="onoff-switch{{ accountForm.isOn('stokings') ? ' is-on' : '' }}" data-id="stokings" data-state="{{ accountForm.isOn('stokings') ? 1 : 0 }}">
                <div class="slider"></div>
            </div>
        </div>
        <div class="settings-holder{{ accountForm.isOn('feet') ? ' is-on' : '' }}">
            <div class="indicator"></div>
            <span class="title">{{ t('account', 'Фут-фетиш') }}</span>
            <div id="feet" class="onoff-switch{{ accountForm.isOn('feet') ? ' is-on' : '' }}" data-id="feet" data-state="{{ accountForm.isOn('feet') ? 1 : 0 }}">
                <div class="slider"></div>
            </div>
        </div>
        <div class="settings-holder{{ accountForm.isOn('shoes') ? ' is-on' : '' }}">
            <div class="indicator"></div>
            <span class="title">{{ t('account', 'Обувь-фетиш') }}</span>
            <div id="shoes" class="onoff-switch{{ accountForm.isOn('shoes') ? ' is-on' : '' }}" data-id="shoes" data-state="{{ accountForm.isOn('shoes') ? 1 : 0 }}">
                <div class="slider"></div>
            </div>
        </div>
        <div class="settings-holder{{ accountForm.isOn('smoke') ? ' is-on' : '' }}">
            <div class="indicator"></div>
            <span class="title">{{ t('account', 'Дым') }}</span>
            <div id="smoke" class="onoff-switch{{ accountForm.isOn('smoke') ? ' is-on' : '' }}" data-id="smoke" data-state="{{ accountForm.isOn('smoke') ? 1 : 0 }}">
                <div class="slider"></div>
            </div>
        </div>
    </div>
</div>