<div class="settings-header">{{ t('base', 'BDSM') }}</div>
<div class="settings-content">
    <div class="settings-holder{{ accountForm.isOn('chains') ? ' is-on' : '' }}">
        <div class="indicator"></div>
        <span class="title">{{ t('account', 'Цепи') }}</span>
        <div id="chains" class="onoff-switch{{ accountForm.isOn('chains') ? ' is-on' : '' }}" data-id="chains" data-state="{{ accountForm.isOn('chains') ? 1 : 0 }}">
            <div class="slider"></div>
        </div>
    </div>
    <div class="settings-holder{{ accountForm.isOn('confinment') ? ' is-on' : '' }}">
        <div class="indicator"></div>
        <span class="title">{{ t('account', 'Удержание в клетке') }}</span>
        <div id="confinment-caging" class="onoff-switch{{ accountForm.isOn('confinment') ? ' is-on' : '' }}" data-id="confinment" data-state="{{ accountForm.isOn('confinment') ? 1 : 0 }}">
            <div class="slider"></div>
        </div>
    </div>
    <div class="settings-holder{{ accountForm.isOn('breathePlay') ? ' is-on' : '' }}">
        <div class="indicator"></div>
        <span class="title">{{ t('account', 'Удушение') }}</span>
        <div id="breathe-play" class="onoff-switch{{ accountForm.isOn('breathePlay') ? ' is-on' : '' }}" data-id="breathePlay" data-state="{{ accountForm.isOn('breathePlay') ? 1 : 0 }}">
            <div class="slider"></div>
        </div>
    </div>
    <div class="settings-holder{{ accountForm.isOn('dominatrix') ? ' is-on' : '' }}">
        <div class="indicator"></div>
        <span class="title">{{ t('account', 'Доминация') }}</span>
        <div id="dominatrix" class="onoff-switch{{ accountForm.isOn('dominatrix') ? ' is-on' : '' }}" data-id="dominatrix" data-state="{{ accountForm.isOn('dominatrix') ? 1 : 0 }}">
            <div class="slider"></div>
        </div>
    </div>
    <div class="settings-holder{{ accountForm.isOn('slavory') ? ' is-on' : '' }}">
        <div class="indicator"></div>
        <span class="title">{{ t('account', 'Рабство') }}</span>
        <div id="slavory" class="onoff-switch{{ accountForm.isOn('slavory') ? ' is-on' : '' }}" data-id="slavory" data-state="{{ accountForm.isOn('slavory') ? 1 : 0 }}">
            <div class="slider"></div>
        </div>
    </div>
    <div class="settings-holder{{ accountForm.isOn('CTB') ? ' is-on' : '' }}">
        <div class="indicator"></div>
        <span class="title">{{ t('account', 'Пытка гениталий') }})</span>
        <div id="cbt" class="onoff-switch{{ accountForm.isOn('CTB') ? ' is-on' : '' }}" data-id="CTB" data-state="{{ accountForm.isOn('CTB') ? 1 : 0 }}">
            <div class="slider"></div>
        </div>
    </div>
    <div class="settings-holder{{ accountForm.isOn('brests') ? ' is-on' : '' }}">
        <div class="indicator"></div>
        <span class="title">{{ t('account', 'Пытка груди/сосков') }}</span>
        <div id="brests-nipp-torture" class="onoff-switch{{ accountForm.isOn('brests') ? ' is-on' : '' }}" data-id="brests" data-state="{{ accountForm.isOn('brests') ? 1 : 0 }}">
            <div class="slider"></div>
        </div>
    </div>
    <div class="settings-holder{{ accountForm.isOn('chineseBalls') ? ' is-on' : '' }}">
        <div class="indicator"></div>
        <span class="title">{{ t('account', 'Вагинальные шарики') }}</span>
        <div id="chinese-balls" class="onoff-switch{{ accountForm.isOn('chineseBalls') ? ' is-on' : '' }}" data-id="chineseBalls" data-state="{{ accountForm.isOn('chineseBalls') ? 1 : 0 }}">
            <div class="slider"></div>
        </div>
    </div>
    <div class="settings-holder{{ accountForm.isOn('collari') ? ' is-on' : '' }}">
        <div class="indicator"></div>
        <span class="title">{{ t('account', 'Ошейник') }}</span>
        <div id="collari" class="onoff-switch{{ accountForm.isOn('collari') ? ' is-on' : '' }}" data-id="collari" data-state="{{ accountForm.isOn('collari') ? 1 : 0 }}">
            <div class="slider"></div>
        </div>
    </div>
    <div class="settings-holder{{ accountForm.isOn('chastityDevices') ? ' is-on' : '' }}">
        <div class="indicator"></div>
        <span class="title">{{ t('account', 'Пояс верности') }}</span>
        <div id="chastity-devices" class="onoff-switch{{ accountForm.isOn('chastityDevices') ? ' is-on' : '' }}" data-id="chastityDevices" data-state="{{ accountForm.isOn('chastityDevices') ? 1 : 0 }}">
            <div class="slider"></div>
        </div>
    </div>
</div>