{{ changePasswordForm.begin({'action': path('account/changepassword'), 'placeholders': false, 'labels': true, 'options': {'class': 'auto-ajax-form', 'data-run': 'EscortAccount.afterChangePassword(json)'} }) }}

    <div class="inputs-conta">
        {{ changePasswordForm.password('oldPassword') }}
        {{ changePasswordForm.password('newPassword') }}
        {{ changePasswordForm.password('retypePassword') }}
    </div>

    <button type="submit">
        <!-- <img src="/frontend/img/save_pass_img.png" alt="" /> -->
        {{ t('base', 'Сохранить') }}
    </button>

{{ changePasswordForm.end() }}