{% extends '@frontend/views/layouts/bloor.twig' %}

{% block cssFiles %}
    {{ parent() }}
    <link href="/frontend/css/page-in-work.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}

<center><div class="wrapper-pageinwork">
	<div class="title-pageinwork">
  {{ t('base', 'Страница в разработке') }}
  </div>
	<div class="description-pageinwork">{{ t('front', 'Подписывайтесь на наши новости в социальных сетях, чтобы знать все о последних релизах') }}</div>
		<div style="padding-bottom: 85px;">
			<a href="#"><div class="face"></div></a>
			<a href="#"><div class="twit"></div></a>
			<a href="#"><div class="google"></div></a>
			<a href="#"><div class="insta"></div></a>
		</div>
	<div class="back-pageinwork auto-url" data-url="{{ returnUrl }}"><a href="{{ returnUrl }}">{{ t('base', 'Назад') }}</a></div>
</div>
</center>


{% endblock %}